.container{
  padding: 2vw 1vw 1vw 2vw ;
}
.infoZapas {
  width: 100%;
  text-align: start;
}
.infoZapas p {
    margin-top: 2px;
}
.nombre {
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: .5px;
}
.genero {
  color: #525252;
  font-size: 19.5px;
  text-transform: capitalize;
}
.precio {
  color: #056505;
  font-weight: bold;
  font-size: 18px;
}

.divImagenesZapatillas{
  margin-top: 2.5vw;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.secundariasImagenes{
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.divImgSec{
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;

}
.divImgSec:hover{
  transition: .3s;
  transform: scale(1.2);
  border:1px solid #525252;
}
.imgSec{
  width: 7vw;
  height: 7vw;

}

.imgPri{
  width: 70vw;
  height: 40vw;
  border-radius: 5px;

}

