
.productosContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 5px; /* Espaciado entre elementos */
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 2rem 0;
    margin: 0px auto 0px auto;
}
.infoZapas {
    width: 100%;
    text-align: start;
    padding: 1vw;
  }

  .nombre {
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .genero {
    color: #525252;
    font-size: 16.5px;
    text-transform: capitalize;
  }
  .precio {
    color: #056505;
    font-weight: bold;
    font-size: 17px;
  }
  .imagenDestacada {
    width: auto;
    height: 20vw;
    width: 20vw;
    border-radius: 5px;
  }