.arrowLeft,
.arrowRight {
  position: absolute;
  border-radius: 50px;
  color: black;
  z-index: 1;
  border: none;
  padding: 10px 10px;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.219);
  cursor: pointer;
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
}

.arrowLeft:hover,
.arrowRight:hover {
  background-color: rgba(82, 82, 82, 0.8);
  transition: 0.5s;
}

@media (max-width:750px){
  .arrowLeft,
.arrowRight {
  padding: 7px 7px;
  width: 30px;
  height: 30px;
}
}
@media (max-width:390px){
  .arrowLeft,
  .arrowRight {
    width: 25px;
    height: 25px;
  }
}