.containerButon{
    width: 100%;
    display: flex;
    justify-content: center;
}

.divButton{
    width: 90%;
    background-color: black;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    color: white;
    transition: .3s;

}
.divButton button{
    width: 100%;
}
.divButton:hover{
    transition: .3s;
    background-color: rgb(66, 66, 66);
}
.divButton:active{
    transform: scale(.9);
}

@media (max-width:768px){
    .containerButon{
        margin-top: 10vw;
    }
    .divButton{
        width: 80%;
        font-size: 17px;
    }
}
@media (max-width:275px){
    .containerButon{
        margin-top: 20vw;
    }
    .divButton{
        width: 80%;
        font-size: 15px;
    }
}