@media (max-width: 750px) {
  .containerMenuNavbar {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    align-items: center;
  }

  .headerResponsive {
    display: flex;
    justify-content: space-between;
    padding: 0px 3vw 0px 1vw;
  }

  .headerResponsive button {
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    cursor: pointer;
  }

  .divList {
    position: fixed;
    top: 0;
    right: -100%; /* Inicialmente oculto */
    width: 66vw;
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding: 20px;
    transition: right 0.3s ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }

  .divList.open {
    right: 0; /* Cuando está abierto */
  }
}
@media (min-width: 750px) {
  .containerMenuNavbar {
    display: flex;
    justify-content: space-between;
    width: 65vw;
    align-items: center;
  }

  .headerResponsive {
    display: none;
  }

  .divIcons {
    margin-right: 5vw;
  }
  .bars {
    display: none;
  }

  .lupa {
    cursor: pointer;
  }
}
