@media (min-width: 750px) {
  .masBuscado {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2.5vw;
  }

  .masBuscado h4 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 1.5vw;
  }

  .masBuscado a {
    font-size: 17px;
    margin-bottom: 1vw;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .masBuscado a:hover {
    transition: 0.1s;
    color: rgb(97, 97, 97);
  }
}

@media (max-width: 750px) {
  .masBuscado {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2.5vw;
  }

  .masBuscado h4 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 3vw;
  }

  .masBuscado a {
    font-size: 17px;
    margin-bottom: 3.5vw;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .masBuscado a:hover {
    transition: 0.1s;
    color: rgb(97, 97, 97);
  }
}
