@media (max-width: 750px) {
  .divIcons {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  .bars {
    cursor: pointer;
  }
  .icons{
    cursor: pointer;
  }
  .lupaDiv {
    right: -100%;
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
  }
  .lupaDiv.open {
    right: 0;
  }
  .shoppingDiv{
    right: -100%;
    position: fixed;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: white;
    z-index: 10;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
  }

  .shoppingDiv.open{
    right: 0;
  }

  .cartBadge{
    position: absolute;
    font-size: 10px;
    background-color: rgb(255, 53, 53);
    font-weight: 700;
    border-radius: 100%;
    padding: 2.5px 7.5px 2.5px 7.5px;
    color: rgb(0, 0, 0);
    margin: 0vw 0vw 4.5vw 4vw;
    top: 3.5vw;
  }

}

@media (min-width: 750px) {
  .divIcons {
    margin-right: 1vw;
    display: flex;
    justify-content: space-between;
    width: 10%;
  }
  .bars {
    display: none;
  }

  .icons {
    cursor: pointer;
  }
  .lupaDiv {
    right: -100%;
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
  }
  .lupaDiv.open {
    right: 0;
  }

  .shoppingDiv{
    right: -100%;
    position: fixed;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: white;
    z-index: 10;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
  }

  .shoppingDiv.open{
    right: 0;
  }

  .cartBadge{
    position: absolute;
    font-size: 10px;
    background-color: rgb(255, 53, 53);
    font-weight: 700;
    border-radius: 100%;
    padding: 2.5px 7.5px 2.5px 7.5px;
    color: rgb(0, 0, 0);
    margin: 0vw 0vw 5vw 6vw;
    top: 2vw;
  }

}
