@media (max-width: 750px) {
  .divIcons {
    display: flex;
    align-items: center;
  }

  .bars {
    margin-right: 5vw;
    cursor: pointer;
  }

  .lupa {
    cursor: pointer;
  }
  .lupaDiv {
    right: -100%;
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
  }
  .lupaDiv.open {
    right: 0;
  }
}

@media (min-width: 750px) {
  .divIcons {
    margin-right: 1vw;
    display: flex;
    justify-content: space-between;
    width: 10%;
  }
  .bars {
    display: none;
  }

  .icons {
    cursor: pointer;
  }
  .lupaDiv {
    right: -100%;
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
  }
  .lupaDiv.open {
    right: 0;
  }

  .shoppingDiv{
    right: -100%;
    position: fixed;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: white;
    z-index: 10;
    padding: 1vw;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
  }

  .shoppingDiv.open{
    right: 0;
  }

}
