@media (max-width: 750px) {
    .divIcons {
        display: flex;
        align-items: center;
      }

    .bars {
        margin-right: 5vw;
        cursor: pointer;
      }
    
      .lupa {
        cursor: pointer;
      }

}

@media (min-width: 750px) {
    .divIcons {
        margin-right: 5vw;
      }
      .bars {
        display: none;
      }
    
      .lupa{
        cursor: pointer;
      }
      .lupaDiv{
        right: -100%;
        position: absolute;
        top: 0;
        width: 100%;
        height: 65%;
        background-color: white;
        z-index: 10;
        display: flex;
        flex-direction: column;
        padding: 1vw;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        transition: right 0.3s ease-in-out;
      }

      .cerrarButton{
        text-transform: uppercase;
        font-weight: 600;
        border: none;
        cursor: pointer;
        font-size: 17px;
      }
      .cerrarButton:hover{
        transition: .1s;
        color: rgb(97, 97, 97);
      }
      .divBarraDeBusqueda{
        display: flex;
        justify-content: space-around;
      }

      .barraDeBusqueda{
        width: 60%;
        height: 3.5vw;
        background-color: #EEEEEE;
        padding: 1.5vw 2vw 1.5vw 1.5vw;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .barraDeBusqueda button{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 15px;
        background-color: #ffdd47;
        border: 2px solid rgb(172, 172, 172);
        padding: .8vw;
        border-radius: 10px 30px 30px 10px;
      }

      .barraDeBusqueda button:hover{
        transition: .1s;
        color: rgb(97, 97, 97);
      }
      .divLogo{
        margin-right: 5vw;
      }

      .barraDiv{
        display: flex;
        align-items: center;
      }

      .barraDiv input{
        margin-left: 2vw;
        background-color: #EEEEEE;
        width: 50vw;
        font-size: 17px;
        letter-spacing: .5px;
        padding: .8vw;
        border-radius: 0px 30px 30px 0px;
        border-left: 2px solid #ffdd47;
      }

      .lupaDiv.open{
        right: 0;
      }

      .masBuscado{
        display: flex;
        flex-direction: column;
        padding: 2.5vw;
        justify-content: start;
      }

      .masBuscado h4{
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 1.5vw;
      }

      .masBuscado a{
        font-size: 17px;
        margin-bottom: 1vw;
        width: fit-content;
      }

      .masBuscado a:hover{
        transition: .1s;
        color: rgb(97, 97, 97);
      }

}