.divNav{
    position: sticky;
    top: 0px;
    z-index: 5;
    border-bottom: .5px solid rgba(213, 208, 208, 0.797);
}
.containerNav{
    padding: .5vw;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}

@media(max-width:768px){
    .containerNav{
        padding: 2vw .5vw 2vw .5vw;
    }
}