.containerNav{
    padding: .5vw;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    background-color: white;
    top: 1.75vw;
    z-index: 5;

}

