@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

a:focus {
  outline: none;
}

h3{
  font-size: 24px;
  font-weight: 400;
  padding: 15px;
  margin: 10px 0px 10px 35px;
  text-transform: capitalize;
}

.slick-slider{
  display: flex !important;
  align-items: center !important; 
}