.resultadoBusquedaContainer{
    display: flex;
    flex-direction: row;
}

.productosEncontradosHeader{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.productosEncontrados{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 10px 20px;
    font-weight: 500;
}

