@media (min-width: 740px) {
  .containerDestacado2 {
    display: none;
  }
  .containerDestacado3 {
    display: none;
  }

  .carouselContainer {
    width: 100%;
    overflow: hidden;
    margin: 0px 35px 0px 35px;
  }
  

  .imagenDestacada {
    height: 20vw;
    width: 25vw;
    border-radius: 5px;
  }

  .infoZapas {
    width: 100%;
    text-align: start;
    padding: 1vw;
  }

  .nombre {
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .genero {
    color: #525252;
    font-size: 16.5px;
    text-transform: capitalize;
  }
  .precio {
    color: #056505;
    font-weight: bold;
    font-size: 17px;
  }
}
@media (max-width: 739px) {
  .imagenDestacada {
    width: auto;
    height: 150px;
    width: 150px;
    border-radius: 5px;
  }

  .infoZapas {
    width: 100%;
    text-align: start;
    padding: 1vw;
  }

  .nombre {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .genero {
    color: #525252;
    font-size: 10px;
    text-transform: capitalize;
    text-wrap: wrap;
    width: 80%;
  }
  .precio {
    color: #056505;
    font-weight: bold;
    font-size: 13px;
  }

  .containerDestacado2{
    display: none;
  }
  .containerDestacado3{
    display: none;
  }
}

@media (max-width:540px){
  .containerDestacado1{
    display: none;
  }
  .containerDestacado2{
    display: block;
  }
  .containerDestacado3{
    display: none;
  }
  .slide{
    margin-left: 20px;
  }
}

@media (max-width:390px){
  .containerDestacado1{
    display: none;
  }
  .containerDestacado2{
    display: none;
  }
  .containerDestacado3{
    display: block;
  }

  .slide{
    margin-left: 35px;
  }
}
