.containerHeader2{
    padding: .5vw;
    width: 100%;
    background-color: #E3E3E3;
    height: fit-content;
}

.divP{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textContainer {
    width: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divP p{
    font-size: 15px;
    font-weight:600;
}

.arrow {
    cursor: pointer;
    transition: transform 0.2s;
}

.arrow:hover {
    transform: scale(1.2);
}