.containerView{
    height: 40vw;
    padding: 2vw;
    display: flex;
    justify-content: center;
}

.divView{
    width: 70%;
    border: 1px solid rgb(146, 132, 95);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 228, 177);
    border-radius: 10px;
    padding: 2vw;
}

.headerDiv h4{
    font-size: 22px;
    font-weight: 600;
}

.formAdmin div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.formAdmin div label{
    font-size: 18px;
    font-weight: 500;
    margin:5px
}

.formAdmin div input{
    padding: 3px;
    border-radius: 5px;
    width: 25vw;
    border: 1px solid rgb(146, 132, 95);
    background-color: rgb(249, 236, 198);
}

.formAdmin div button{
    margin:20px auto 0px auto;
    width: 60%;
    background-color: black;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    color: white;
    transition: .3s;
}
.formAdmin div button:hover{
    transition: .3s;
    background-color: rgb(66, 66, 66);
}
.formAdmin div button:active{
    transform: scale(.9);
}
